
{% extends 'base.html'%}

{% block  content %}
    <div class="container mt-4">
        <h3 class="display-6">Deletar Material</h3>

        <div class="card">
            <div class="card-body">
                <p class="card-text">Tem certeza de que deseja excluir o material com Patrimônio: <strong>{{ object.patrimonio}}</strong> ?</p>
                <form class="form" method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
            </div>
        </div>
        <a href="{% url 'categoria_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para Lista de Materiais</a>
    </div>
{% endblock %}